*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
.container{
    position: relative;
    padding-right: 0;
    padding-left: 0;
}
.main-background{
    opacity: 0.2;
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.footer{
    height: 30px;
    background: rgb(0, 162, 255);
    color: white;
    bottom: 10px;
}